<div class="main">
  <h1>ToDo App</h1>

  <form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)" autocomplete="off">
    <input type="text" name="task" #task="ngModel" [(ngModel)]="model.task" placeholder="Add a task" required autofocus />
    <button type="submit" [disabled]="!todoForm.form.valid">Add</button>
    <div [hidden]="task.valid || task.pristine" class="error">Task is required</div>
  </form>

  <p>Things to do...</p>
  <ul>
    <li *ngFor="let item of tasks; index as i" [class.completed]="item.completed">
      <span *ngIf="isDebugging">{{i+1}}.</span> <span (click)="completed(item)" class="cursor">&#9989;</span> {{item.task}} <span (click)="remove(item)" class="cursor">&#10062;</span>
    </li>
  </ul>

  <button *ngIf="isDebugging" (click)="debug()">Debug</button>
</div>